@media(max-width: 1540px){
    .board__safe{
        right: 32%;
        top: 14%;
    }
}
@media(max-width: 1400px){
    .board__safe{
        right: 30%;

    }
    .board__title {
        font-size: 52px;
    }
}
@media(max-width: 1280px){
    .board__safe{
        right: 28%;

    }
    .board__title {
        font-size: 52px;
    }
    .board__doctor{
        right: 4%;
    }
}
@media(max-width: 1200px){
    .board__safe{
        right: 16%;

    }
    .board__title {
        font-size: 46px;
    }
    .board__doctor{
        right: -10%;
    }
}
@media(max-width: 1040px){
    .board__safe{
        right: 14%;

    }
    .board__title {
        font-size: 46px;
    }
    .board__doctor{
        right: -16%;
    }
}
@media(max-width: 960px){
    .board{
        background-size: 2322px 1848px;
        padding-bottom: 0;
    }
    .board__safe{
        right: 14%;
    }
    .board__title {
        font-size: 46px;
    }
    .board__doctor{
        display: none;
    }
    .board__footer{
        display: none;
    }
    .board__title {
        font-size: 42px;
    }
    .board__subtitle{
        font-size: 24px;
    }

}
@media(max-width: 720px){
    .board__safe{
        display: none;
    }
}
@media(max-width: 480px){
    .board__special{
        font-size: 16px;
    }
    .board__title {
        font-size: 32px;
    }
    .board__text {
        font-size: 14px;
        font-weight: bold;
    }
    .board__subtitle{
        font-size: 18px;
        font-weight: bold;
    }

}
