*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'PT Sans Caption', sans-serif;
    color: #353d43;
    padding-top: 152px;
}
.container{
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}
.container_wide{
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 15px;
}

/* header */

header.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
.header__top{
    background-color: #f1f4f5;
    padding: 8px 0;
}
.header__top .container_wide {
    display: flex;
    gap: 34px;
    align-items: center;
}
.header__numbers{
    margin-left: auto;
    display: flex;
    gap: 12px;
}
.header__web-icons{
    display: flex;
    gap: 21px;
}
.header__number{
    position: relative;
    color: #006b95;
    font-weight: 700;
}
.callback_btn{
    color: #0dbc91;
    font-weight: 600;
    font-size: 14px;
}
.searh__label{
    display: flex;
    gap: 12px;
    
}
.search__input{
    max-width: 50px;
    font-size: 14px;
    font-weight: 600;
}

.header__bottom{
    padding: 32px 0;
}
.header__bottom .container_wide{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.registration__btn{
    background-color: #0dbc91;
    border-color: #0dbc91;
    color: #ffffff;
    padding: 10px 17px 11px;
    font-size: 13px;
    border-radius: 19px;
}
.header__menu{
    display: flex;
    gap: 16px;
}
.header__menu-item{
    color: #003795;
    padding: 10px 2px;
    text-transform: uppercase;
    font-weight: bold;
    white-space: nowrap;
    font-size: 16px;
}
.headere__logo{
    max-width: 200px;
}

/* end header */



/* footer */

footer.footer{
     background-color: #f1f4f5;
     border-top: 1px solid #eaeff1;
     padding: 63px 0 49px;
     
}

.footer__top{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

}

.subscription__title{
    color: #333;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 12px;
}

.subscription__input{
    background: #FFF;
    color: #999999;
    height: 44px;
    border: none;
    padding: 6px 50px 6px 20px;
    border-radius: 22px;
    overflow: hidden;
    color: #999999;
    font-size: 16px;
    width: 300px;
}
.subscription__input::placeholder{
    font-family: 'PT Sans Caption', sans-serif;
    font-weight: 400;
}

.subscription__arrow{
    position: absolute; 
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
}

.subscription__group{
    position: relative;
}
.subscription__error{
    color: #fb5f5f !important;
    font-size: 12px;
    margin-top: 2px;
}

.footer__contact-item{
    display: flex;
}

/* end footer */

